<nav class="navbar navbar-expand-lg" id="navMain">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-1">
    <a class="" href="/"><i class="fa fa-instagram" style="font-size:30px;color:black"></i></a>

    {% if user.is_authenticated %}
    </div>
    <div class="col-md-2">
    <a class="nav-link open-nav" href="{% url 'upload_image'%}"><i class="fa fa-upload" style="font-size: 30px;color: black"></i>Upload</a>
    {%endif%}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
    <div class="col-md-4">
        {% if user.is_authenticated %}


          <div class="nav-search">
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
              <input class="form-control my-2 my-sm-0 search-input" name="username" type="search" placeholder="Search Users" aria-label="Search">
            </form>
          </div>
     </div> 
      <div class="col-md-2">
            {% if user.is_authenticated %}
            <a class="nav-link open-nav" href="{% url 'showprofile' id=user.id %}"><i class="fa fa-user" style="font-size:22px;color:black">{{user}}</i></a>
      </div> 
      <div class="col-md-2"> 
            <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true">Logout</i></a>

          

      </div>
      {%endif%}



      {%endif%}

    </div>
   </div>
  </div>
</nav>